@charset "UTF-8";
@font-face{
	font-family: "kn";
	src: url("../KoPubWorld Dotum Bold.ttf");
}
body{
	padding: 0px;
	margin: 0px;
}
tr{
	padding: 0px;
	margin: 0px;
}
td{
	padding: 0px;
	margin: 0px;
}
#boardDetailTable{
	width: 1200px;
	margin-top: 150px;
	margin-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
	font-family: "kn";
	text-align: center;
	background-color: white;
	border-spacing: 0;
	word-break:break-all;
}
#boardDetailTable #info{
	width: 100%;
	font-size: 10pt;
	border-spacing: 0;
}
#boardDetailTable #title{
	width: 100%;
	text-align: left;
	font-size: 25pt;
	font-weight: 900;
	border-spacing: 0;
	border-bottom: 2px solid #E0E0E0;
}
#boardDetailTable #title button{
	width: 80px;
	height: 30px;
	font-family: "kn";
	font-size: 13pt;
	background: #fff;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	cursor: pointer;
}
#boardDetailTable #title button:hover {
	background: #C7C7C7;
}
#boardDetailTable #img img{
	margin-top: 50px;
	width: 80%;
	height: auto;
}
#boardDetailTable #txt{
	width: 100%;
	height: 500px;
	text-align: left;
	font-size: 15pt;
	font-family: sans-serif;
	border-spacing: 0;
}
#boardDetailTable #mbti{
	height: 60px;
}
#boardDetailTable #mbti input{
	width: 300px;
	height: 30px;
	outline: none;
	font-family: "kn";
	font-size: 13pt;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
}
#boardDetailTable #mbti button{
	width: 150px;
	height: 35px;
	font-family: "kn";
	font-size: 13pt;
	background: #fff;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	cursor: pointer;
}
#boardDetailTable #mbti button:hover {
	background: #C7C7C7;
}
#boardDetailTable #data{
	width: 100%;
	height: 50px;
	text-align: left;
	font-size: 10pt;
	font-weight: 300;
	border-spacing: 0;
	border-bottom: 2px solid #E0E0E0;
}
#boardDetailTable #data img{
	width: 30px;
	height: 30px;
	vertical-align: bottom;
}
#boardDetailTable #insertReply{
	width: 100%;
	height: 80px;
	text-align: center;
	font-size: 10pt;
	font-weight: 300;
	border-spacing: 0;
	border-bottom: 2px solid #E0E0E0;
}
#boardDetailTable #insertReply textarea{
	margin-top: 10px;
	resize: none;
	outline: none;
	width: 85%;
	height: 50px;
	font-weight: "kn";
	font-size: 12pt;
	border-spacing: 0;
	border-bottom: 2px solid #E0E0E0;
}
#boardDetailTable #insertReplyBTN{
	width: 150px;
	border-bottom: 2px solid #E0E0E0;
}
#boardDetailTable #insertReplyBTN button{
	width: 100px;
	height: 60px;
	margin-right: 50px;
	font-family: "kn";
	font-size: 13pt;
	background: #fff;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	cursor: pointer;
}
#boardDetailTable #insertReplyBTN button:hover {
	background: #C7C7C7;
}
#boardDetailTable #replyTable {
	width: 100%;
}
#boardDetailTable #replyTable textarea {
	resize: none;
	outline: none;
	width: 100%;
	height: 50px;
	border: 1px solid #FF6E40;
	border-radius: 4px;
	font-size: 9pt;
}
#boardDetailTable #replyTable button{
	width: 80px;
	height: 30px;
	margin-right: 50px;
	font-family: "kn";
	font-size: 13pt;
	background: #fff;
	border: 1px solid #FF6E40;
	border-radius: 4px;
	cursor: pointer;
}
#boardDetailTable #replyTable button:hover {
	background: #FF3D00;
}
#boardDetailTable #replyTable .data {
	font-size: 9pt;
	text-align: left;
}
#boardDetailTable #replyTable .space {
	height: 25px;
	border-bottom: 2px solid #E0E0E0;
}
#boardDetailTable #replyTable .replyTXT {
	text-align: left;
	height: 50px;
	font-size: 12pt;
}