@charset "UTF-8";
@font-face{
	font-family: "kn";
	src: url("../KoPubWorld Dotum Bold.ttf");
}
body{
	padding: 0px;
	margin: 0px;
}
tr{
	padding: 0px;
	margin: 0px;
}
td{
	padding: 0px;
	margin: 0px;
}
#boardWriteTable{
	width: 1200px;
	height: 800px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: white;
	border-spacing: 0;
	border: 2px solid #E0E0E0;
}
#boardWriteTable input::placeholder{
	text-align: center;
}
#boardWriteTable textarea::placeholder{
	text-align: center;
	font-size: 15pt;
}
#boardWriteTable #type {
	height: 60px;
}
#boardWriteTable #type select{
	width: 40%;
	font-family: "kn";
	outline: none;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	font-size: 12pt;
}
#boardWriteTable #img {
	height: 60px;
}
#boardWriteTable #img input[type=file]::file-selector-button {
	font-family: "kn";
	font-size: 12pt;
	width: 150px;
	height: 30px;
	background: #fff;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	cursor: pointer;
}
#boardWriteTable #img input[type=file]::file-selector-button:hover {
	background: #C7C7C7;
}
#boardWriteTable #title{
	height: 100px;
}
#boardWriteTable #title input{
	width: 60%;
	font-family: "kn";
	outline: none;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	font-size: 15pt;
}
#boardWriteTable #txt{
	height: 500px;
}
#boardWriteTable #txt textarea{
	resize:none;
	width: 60%;
	height: 450px;
	font-family: "kn";
	outline: none;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	font-size: 12pt;
}
#boardWriteTable #check{
	height: 60px;
}
#boardWriteTable #check button{
	width: 150px;
	height: 30px;
	font-family: "kn";
	font-size: 13pt;
	background: #fff;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	cursor: pointer;
}
#boardWriteTable #check button:hover {
	background: #C7C7C7;
}
