@charset "UTF-8";
@font-face{
	font-family: "ma";
	src: url("../font/Maplestory Light.ttf");
}

#companyDetailTableArea{
	margin-left : auto;
	margin-right : auto;
	margin-top : 150px;
	width: 1200px;
	
}
#companyNameTable{
	width: 800px;
	height: 100px;
}

.companyNameTableLogoTd{
	width:20%;
	height: 130px;
	background-color: #FFFFFF;
	padding: 5px;
	border: #E51B20 solid 2px;
	border-radius: 8px;
}
.companyNameTableTd1{
	background-color: transparent;
	font-size: 20pt;
	font-weight: 900;
	padding-left: 20px;
}

.companyNameTableTd2{
	background-color: transparent;
	font-size: 12pt;
	color: #aaaaaa;
	padding-left: 20px;
}
#companyMenuTable{
	width: 100%;
	margin-top: 30px;
}
.companyMenuTableTd{
	font-size: 15pt;
	border-bottom: black solid 1px;
	padding-bottom: 10px;
}
.companyMenuTableTd:hover{
	cursor: pointer;
}
.info{
	width: 34%;
}
.review{
	width: 33%;
}
.board{
	width: 33%;
	font-weight:900;
	border-bottom: #E51B20 solid 5px;
}
#companyDetailTable{
	width: 800px;
	height: 300px;
	background-color: #FFFFFF;
	border: #E51B20 solid 3px;
	padding: 20px;
	border-radius: 8px;
}
.companyDetailIndex{
	width : 80px;
	color: #aaaaaa;
}
#companyTitle {
	font-size: 25pt;
	font-weight: 900;
}
#companyBoardTableArea{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.companyBoardTable{
	width: 800px;
	height: 180px;
	border: #E51B20 solid 2px;
	border-radius: 8px;
	border-spacing: 0px;
	padding: 10px;
	margin-bottom: 20px;
	font-family: ma;
}
.companyBoardTable .companyBoardType div{
	width: 100px;
	background-color: transparent;
	border: #E0E0E0 1px solid;
	color: #B2B2B2;
	font-weight: 700;
	margin-bottom: 10px;
}
.box{
	width:700px;
}
.companyBoardTable .companyBoardTitle{
	height: 15%;
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.companyBoardTable .companyBoardImg{
	width: 130px;
	padding-left: 20px;
	padding-right: 20px;
	table-layout: fixed;
	max-width: 5%;
}
.companyBoardTable .companyBoardTxt{
	font-size: 17px;
	height: 50%;
	padding-top: 10px;
}
.companyBoardTable .companyBoardDdabong img{
	max-width: 15px;
}
.companyBoardTable .companyBoardDate{
	padding-right: 20px;
}